html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.question-container {
  margin: auto;
}

.hint-container {
  padding: 5px;
  background-color: lightgoldenrodyellow;
  border-radius: 8px;
  justify-content: flex-start;
}

.title {
  color: olive;
  text-align: center;
  font-size: 1.50em; 
  margin: 0.50em;
}

.question {
  color: olive;
  font-size: 25px;
  margin-bottom: 0.50em;
  text-align: center;
}

.description {
  border: 2px solid rgb(108, 108, 108);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  min-height: 50px;
}

.back-btn {
  display: flex;
  margin: 20px auto;
  color: black; 
  width: 100%;
}

.back-btn a {
  width: 100%;
  padding: 0.8rem 0;
  color: black;
  display: block;
  
}

.content-container {
  padding: 0 2rem;
  max-width: 70rem;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .question {
    margin-bottom: 0;
    text-align: left;
  }

  .hint-container {
    padding: 20px;
    border-radius: 8px;
    justify-content: flex-start;
  }

  .title {
    color: olive;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }

  .back-btn {
    max-width: 15rem;
    margin: 2rem auto;
    display: flex;
  }
}
