/* Common CSS styles */
html, body {
  margin: 0;
}

.menu-bar {
  display: flex; 
}

.scheme-dojo-portal-container {
  background-color: lightgoldenrodyellow;
  width: 30%;
  height: 42px;
  display: block;
  padding: 4px 10px;
}

.app-name {
  margin: 0;
  font-size: 20px;
  display: block;
}

.version-tag {
  margin: 0;
  font-size: 12px;
}

.menu-list {
  display: flex; 
  width: 100%;
  margin: 0;
  padding: 0;
  width: 70%;
}

.menu-list li {
  background-color: grey;
  list-style: none;   
  width: 100%;
  display: flex;
  border-right: 1px solid #ffffff;
}

.menu-list li:last-child {
  border-right: none;
}

.menu-list a:hover { 
  background-color: black;
}

.menu-item {
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.image {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.text-tag {
  text-align: center;
  font-size: 38px;
  color: olive;
}

/* For PC styles */
.burger-icon:before {
  display: none;
  font-size: 32px;
}

.close-btn {
  display: none;
}

/* For Mobile styles */
@media (max-width: 800px) {
  .burger-icon:before{
    display: block;
    margin-top: 3%;
  }

  .menu-btn {
    position: absolute;
    right: 0;
    margin: 8px;
    z-index: 3;
  }

  .close-btn:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  .close-btn:checked ~ .menu-btn {
    color: white;
    font-size: 32px;
  }

  .menu-list {
   position: fixed;
   width: 100%;
   display: none;
   text-align: center;
   transition: all 0.3s ease;
   opacity: 90%;
   height: 100%;
  }

  .scheme-dojo-portal-container {
    width: 100%;
    height: 55px;
  } 

  .close-btn:checked ~ .menu-list {
    display: block;
  }

  .menu-list li {
    background-color: olive;
    border-right: none;
  }

  .menu-list a:hover {
    background-color: rgb(167, 167, 1);
  }

  .text-tag {
    font-size: 38px;
    margin-right: 50px ;
    margin-left: 50px;
  }

  .menu-item {
    font-size: 25px;
    font: bold;
  }

  .app-name {
    font-size: 27px;
  }

  .version-tag {
    font-size: 16px;
  }
}