html, body {
  margin: 0;
}

.menu-bar {
  display: flex; 
}

.web-name-container {
  background-color: lightgoldenrodyellow;
  width: 30%;
  height: 42px;
  display: block;
  padding: 4px 10px;
}

.web-name-box {
  font-size: small;
  display: block;
}

.app-name {
  margin: 0;
  font-size: 20px;
  display: block;

}

.version-tag{
  margin: 0;
  font-size: 12px;
}

.menu-list {
  display: flex; 
  width: 100%;
  margin: 0;
  padding: 0;
  width: 70%;
}

.menu-list li {
  list-style: none;   
  width: 100%;
  display: flex;
  border-right: 1px solid #ffffff;
}

.menu-list li:last-child{
  border-right: none;
}

.menu-item {
  background-color: grey;
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.menu-list a:hover { 
  background-color: black;
}

.image {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.text-tag {
  text-align: center;
  font-size: 32px;
  color: olive;
}